<%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/nav.ejs') %>
    <main>
        <section class="form__container">
            <form action="/admin/my-listing" method="post" class="global_form"> 
                <div class="form__control">
                    <label for="title">Title</label>
                    <input type="text" name="title" required>
                </div>
                <div class="">
                    <label for="imageUrl">Image</label>
                    <input type="text" name="imageUrl" required>
                </div>
                <div class="">
                    <label for="price">Price</label>
                    <input type="number" name="price" required>
                </div>
                <div class="">
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" cols="40" rows="5" style="width: 100%;" spellcheck="true"></textarea>
                </div>
           
            <button type="submit" class="alt_btn">Send</button>
           </form>
        </section>
       
    </main>
<%-include('../partial/end.ejs') %>