<%- include('partial/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('partial/nav.ejs') %>
    <main class="grid">
       <form action="/admin/my-listing" method="post" class="product-form">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="price">Price</label>
            <input type="text" name="price">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" cols="40" rows="10" style="width: 100%;"></textarea>
        </div>
        <button type="submit">Send</button>
       </form>
    </main>
<%-include('partial/end.ejs') %>