.form-control {
    margin: 1rem 0;
}

:where(input, textarea) {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

:where(input, textarea) {
    border: 1px solid #a1a1a1;
    border-radius: 2px;
}

.form-control input:focus,
textarea:focus {
    outline-color: #a0e069;
}