<%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/nav.ejs') %>
    <main class="shop_grid">
        <% if (!prods?.length) { %>
            <h1> No products to display</h1>
        <% } else {%>
            <% for (const prod of prods) { %>
                <%-include('../components/productItem.ejs', {prod}) %>
            <% } %>
        <% } %>
    </main>
<%-include('../partial/end.ejs') %>
